@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page1 {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form1 {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form1 input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #DDD;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form1 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}
.form1 button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form1 .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form1 .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form1 .register-form {
    display: none;
}
.container1 {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container1:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container1 .info {
    margin: 50px auto;
    text-align: center;
}
.container1 .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container1 .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container1 .info span a {
    color: #000000;
    text-decoration: none;
}
.container1 .info span .fa {
    color: #EF3B3A;
}
section#about{
    background-image:url("../img/about/loginWallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100%;

}
input.form-control {
    height: auto;
    width: 40%;
    margin: 0 0 0 30%;
    background: powderblue;
}
section#contact {
    background-color: #222222;
    background-image: url('../img/about/registerWallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
}
footer {
    background-color: #222222;
}
.team-member img {
    height: 235px;
}
.col-sm-4 {
    left: 0px;
    float: left;
    width: 25%;
}
header {
    background-image: url('../img/header-test.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
.test {

}
.team-member-pinio {
    margin-top: -35px;
    text-align: center;
    margin-bottom: 50px;
}
.team-member-pinio img {
    height: 235px;
    margin: 0 auto;
    border: 7px solid white;
    width: 235.03px;
    margin-top: 35px;
}
.team-member-pinio h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member-pinio p {
    margin-top: 0;
}

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    background-color: powderblue;

}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: goldenrod;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: white;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
#errorBox {
    display: none;
    background: #F50;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}
#infoBox {
    display: none;
    background: green;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}
.our-amazing-team {
    text-align: center;
    color: #222;
    font-style: italic;
    font-size: 45px;
    margin-top: -80px;
    margin-bottom: 50px;
}
.team-letter {
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-vanto {
    margin-top: 50px;
    margin-left: 115px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-pinio {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-lapeto {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 160px;
    margin-bottom: -80px
}
