@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page1 {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form1 {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form1 input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #DDD;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form1 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}
.form1 button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form1 .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form1 .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form1 .register-form {
    display: none;
}
.container1 {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container1:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container1 .info {
    margin: 50px auto;
    text-align: center;
}
.container1 .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container1 .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container1 .info span a {
    color: #000000;
    text-decoration: none;
}
.container1 .info span .fa {
    color: #EF3B3A;
}
section#about{
    background-image:url("../img/about/loginWallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100%;

}
input.form-control {
    height: auto;
    width: 40%;
    margin: 0 0 0 30%;
    background: powderblue;
}
section#contact {
    background-color: #222222;
    background-image: url('../img/about/registerWallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
}
footer {
    background-color: #222222;
}
.team-member img {
    height: 235px;
}
.col-sm-4 {
    left: 0px;
    float: left;
    width: 25%;
}
header {
    background-image: url('../img/header-test.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
.test {

}
.team-member-pinio {
    margin-top: -35px;
    text-align: center;
    margin-bottom: 50px;
}
.team-member-pinio img {
    height: 235px;
    margin: 0 auto;
    border: 7px solid white;
    width: 235.03px;
    margin-top: 35px;
}
.team-member-pinio h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member-pinio p {
    margin-top: 0;
}

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    background-color: cornflowerblue;

}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: goldenrod;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: white;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
#errorBox {
    display: none;
    background: #F50;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}
#infoBox {
    display: none;
    background: green;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}
body{
    padding-top:25px !important;
}
.stats {
    text-align:center;
    text-shadow:1px 1px 0px #fff;
    margin-top:25px;

}
.stats li{
    width:125px;
}
.stats span{
    font-family:Helvetica;
    font-weight:bold;
    text-shadow:1px 1px 0px #fff;
    font-size:4em;

    display:block;
    line-height:1em;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .profile img{
        width:75px;
    }
    .profile h2{
        font-size:1.7em;
    }
    .stats span{
        font-size: 2em;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
.form1 {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form1 input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #DDD;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form1 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}
.form1 button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
#profile{
    background-image:url("../img/profile-background.jpg");
}
.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}
.well-large{padding:24px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.well-small{padding:9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
@media (min-width:768px) and (max-width:979px){.row{margin-left:-20px;*zoom:1;}
    .row-fluid .controls-row [class*="span"]+[class*="span"]{margin-left:2.7624309392265194%;}
    input.span1,textarea.span1,.uneditable-input.span1{width:28px;}}
.row-fluid [class*="span"]{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.564102564102564%;*margin-left:2.5109110747408616%;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span6{width:48.717948717948715%;*width:48.664757228587014%;}
.row-fluid .span4{margin-top:-25px;width:31.623931623931625%;*width:31.570740134569924%;}
.row-fluid .span2{width:14.52991452991453%;*width:14.476723040552828%;}
ul,ol{padding:0;margin:0 0 10px 25px;}
ul.unstyled,ol.unstyled{margin-left:0;list-style:none;}
ul.inline,ol.inline{margin-top:-7px;margin-left:0;list-style:none;}ul.inline>li,ol.inline>li{display:inline-block;*display:inline;*zoom:1;padding-left:5px;padding-right:5px;}

.icon-phone:before {
    content: "\f095";
}
.icon-phone-sign:before {
    content: "\f098";
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}

/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
    display: inline-block;
    width: 1.1428571428571428em;
    text-align: right;
    padding-right: 0.2857142857142857em;
}
.icon-envelope-alt:before {
    content: "\f003";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-globe:before {
    content: "\f0ac";
}
.our-amazing-team {
    text-align: center;
    color: #222;
    font-style: italic;
    font-size: 45px;
    margin-top: -80px;
    margin-bottom: 50px;
}
.team-letter {
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-vanto {
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-pinio {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
.team-letter-lapeto {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -120px;
    font-size: 100px;
    color: #fed136;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 160px;
    margin-bottom: -80px
}
/*-+-+-+-+-+-+-+-*/
#forum{
    background-image: url("../img/forumBackground.jpg");
}
#themeHeader{
    color: antiquewhite;
    text-align: center;
    font-size: 38px;
    font-family: "Helvetica", serif;
    margin-top: 10px;
}
#questionsHeader{
    color: antiquewhite;
    font-size: 38px;
    font-family: "Helvetica", serif;
    margin-top: 10px;
    text-align: center;
}
#themes{
    margin-top: 80px;
    margin-left: 100px;
    border: solid 2px #000000;
    display: inline-block;
    overflow-y: auto;
    height: 400px;
    width: 250px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.9);
    background: #000000;
    text-align: center;
}
.theme{
    font-size: 33px;
    text-align: center;
    margin: 10%;
    color: royalblue;
}
#forumQuestions{
    margin-left: 120px;
    border: solid 2px #000000;
    overflow-y: auto;
    display: inline-block;
    height: 400px;
    width: 770px;
    box-shadow: 10px 20px 50px rgba(0,0,0,.9);
    background: black;
    text-align: center;
}
.question{
    font-size: 27px;
}
#questionsAndComments{
    background: url("../img/forum_img.jpg");
    height: 818px;
}
#questionsAndCommentsHeader{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    top: 5px;;
}
/*-+-+-+-+-+-+-+-*/
h2{
    font-size: 2rem;
    margin-top: 20px;
}.glyphicon-pencil:before{
     content:"\270f";
     color: #2aabd2;
 }
 #all-bars {
     margin-right: 430px;
 }
.logout-nav-link{
    text-decoration: none;
    font-size: 90%;
    padding: .75em 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    padding: 1.2em .4em!important;
    display: block;
    box-sizing: inherit;
}
.logout-nav-link:hover{
    text-decoration: none;
}
#warningBox {
    display: none;
    background: #ffff00;
    color: black;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}
#searchedProfile{
    background-image:url('../img/profile-background.jpg')
}
